<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hgxrobot-001-site1.smarterasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://hgxrobot-001-site1.smarterasp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>hgxrobot-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\hgxrobot-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9B3C5D_TriTracker;User ID=DB_9B3C5D_TriTracker_admin;Password=NicePassword00" Name="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9B3C5D_TriTracker;User Id=DB_9B3C5D_TriTracker_admin;Password=NicePassword00;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TriTracker.Web.DataContexts.ApplicationDb, TriTracker.Web" MigrationConfiguration="TriTracker.Web.DataContexts.ApplicationMigrations.Configuration, TriTracker.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=TriTracker;Integrated Security=True;Persist Security Info=False;Pooling=False;Transaction Binding=&quot;Explicit Unbind&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=TriTracker;Persist Security Info=False;Integrated Security=True;Transaction Binding=Explicit Unbind;Pooling=false" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9B3C5D_TriTracker;User Id=DB_9B3C5D_TriTracker_admin;Password=NicePassword00;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>